.toggleButton {
    flex-direction: row;
    justify-content: center;
}
.like {
    background-color: rgba(0, 116, 6, 0.904);
}

.normal {
    background-color: white;
}

.dislike {
    background-color: red;
}