.toggleButton {
  margin: 1%;
}
.like {
    background-color: rgba(0, 116, 6, 0.904);
}

.normal {
    color:white;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.dislike {
    background-color: red;
}